<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="logout()" color="danger">
                <ion-icon slot="icon-only" name="exit"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>

    <ion-row class="top-20" text-center>

        <ion-col size="12" class="ion-align-items-center" text-center>
            <img src="assets/avatars/{{user.avatar}}" class="img-avatar">
        </ion-col>

    </ion-row>

    <ion-row class="top-20">
        <ion-col size="12" text-center>
            <ion-label>
                <h1>Actualizar perfil</h1>
            </ion-label>
        </ion-col>
    </ion-row>


    <app-avatar-selector [currentAvatar]="user.avatar" (avatarSel)="user.avatar = $event"></app-avatar-selector>

    <form (ngSubmit)="updateUser(fUpdate)" #fUpdate>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
                        <ion-input name="username" type="text" [(ngModel)]="user.username" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-icon name="mail-outline" slot="start"></ion-icon>
                        <ion-input name="email" type="email" [(ngModel)]="user.email" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-icon name="accessibility-outline" slot="start"></ion-icon>
                        <ion-input name="name" type="text" [(ngModel)]="user.name" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-icon name="accessibility-outline" slot="start"></ion-icon>
                        <ion-input name="lastname" type="text" [(ngModel)]="user.lastname" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-icon name="map-outline" slot="start"></ion-icon>
                        <ion-input name="nationality" type="text" [(ngModel)]="user.nationality" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-icon name="call-outline" slot="start"></ion-icon>
                        <ion-input name="phone" type="text" [(ngModel)]="user.phone" required></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col text-center>
                <ion-button type="submit" color="tertiary" shape="round">
                    Actualizar
                </ion-button>
            </ion-col>
        </ion-row>

    </form>


</ion-content>