<ion-content class="primary">
    <ion-slides class="mainSlide" #mainSlide>

        <ion-slide>

            <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
                <ion-grid fixed>

                    <ion-row>
                        <ion-col>
                            <img src="/assets/icon/logo.jpeg">
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>

                            <ion-list>

                                <ion-item>
                                    <ion-input name="username" type="text" [(ngModel)]="loginUser.username" placeholder="Usuario" required></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-input name="password" type="password" [(ngModel)]="loginUser.password" placeholder="Contraseña" required></ion-input>
                                </ion-item>

                            </ion-list>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-button type="submit" expand="full" color="light" shape="round">
                                Ingresar
                            </ion-button>
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </form>


        </ion-slide>

        <ion-slide>


            <ion-grid fixed>

                <!-- Selector de avatar -->
                <app-avatar-selector (avatarSelected)="registerUser.avatar=$event"></app-avatar-selector>

                <form (ngSubmit)="register(fRegister) " #fRegister="ngForm">
                    <ion-row>
                        <ion-col>

                            <ion-list>

                                <ion-item>
                                    <!-- <ion-label>Nombre</ion-label> -->
                                    <ion-input name="name" type="text" [(ngModel)]="registerUser.name" placeholder="Nombre" required></ion-input>
                                </ion-item>

                                <ion-item>
                                    <!-- <ion-label>Apellidos</ion-label> -->
                                    <ion-input name="lastname" type="text" [(ngModel)]="registerUser.lastname" placeholder="Apellido" required></ion-input>
                                </ion-item>

                                <ion-item>
                                    <!-- <ion-label>Email</ion-label> -->
                                    <ion-input name="email" type="email" [(ngModel)]="registerUser.email" placeholder="Email" required></ion-input>
                                </ion-item>

                                <ion-item>
                                    <!-- <ion-label>Nacionalidad</ion-label> -->
                                    <ion-input name="nationality" type="text" [(ngModel)]="registerUser.nationality" placeholder="Nacionalidad" required></ion-input>
                                </ion-item>

                                <ion-item>
                                    <!-- <ion-label>Identificacion personal</ion-label> -->
                                    <ion-input name="identification" type="text" [(ngModel)]="registerUser.identification" placeholder="Identificacion personal" required></ion-input>
                                </ion-item>

                                <ion-item>
                                    <!-- <ion-label>Password</ion-label> -->
                                    <ion-input name="text" type="text" [(ngModel)]="registerUser.phone" placeholder="Phone" required></ion-input>
                                </ion-item>

                                <ion-item>
                                    <!-- <ion-label>Fecha de nacimiento</ion-label> -->
                                    <ion-datetime name="birthday" type="date" [(ngModel)]="registerUser.birthday" placeholder="Fecha de nacimiento" required></ion-datetime>
                                </ion-item>

                                <ion-item>
                                    <!-- <ion-label>Nombre de usuario</ion-label> -->
                                    <ion-input name="username" type="text" [(ngModel)]="registerUser.username" placeholder="Nombre de usuario" required></ion-input>
                                </ion-item>

                                <ion-item>
                                    <!-- <ion-label>Password</ion-label> -->
                                    <ion-input name="password" type="password" [(ngModel)]="registerUser.password" placeholder="Contraseña" required></ion-input>
                                </ion-item>

                            </ion-list>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-button type="submit" expand="full" color="light" shape="round">
                                Registrarme
                            </ion-button>
                        </ion-col>
                    </ion-row>

                </form>
            </ion-grid>


        </ion-slide>


    </ion-slides>



</ion-content>


<ion-footer no-border>
    <ion-toolbar>

        <ion-row>

            <ion-col>
                <ion-button shape="round " expand="full " size="small " fill="outline " color="tertiary " (click)="showRegister()">
                    Ingresar
                </ion-button>
            </ion-col>

            <ion-col>
                <ion-button shape="round " expand="full " size="small " fill="outline " color="tertiary " (click)="showLogin()">
                    Registrarme
                </ion-button>
            </ion-col>

        </ion-row>



    </ion-toolbar>
</ion-footer>